
HMAHCC_COMP.csv
HMAHCC_HOLDOUT.csv
.ipynb_checkpoints/Exploration-checkpoint.ipynb
.ipynb_checkpoints/LTOTs_check_matt1-checkpoint.ipynb
.ipynb_checkpoints/Chris LTOT Function-checkpoint.ipynb
.ipynb_checkpoints/Chris Response Variable Exploration-checkpoint.ipynb
.ipynb_checkpoints/LTOT Function V2-checkpoint.ipynb
.ipynb_checkpoints/Mask Testing-checkpoint.ipynb
.ipynb_checkpoints/Matthew Features Exploration-checkpoint.ipynb
.ipynb_checkpoints/Combining Variables-checkpoint.ipynb
jake_filter.csv
.ipynb_checkpoints/Matthew Features and Models Oct 2-checkpoint.ipynb
.ipynb_checkpoints/Matthew Features Exploration-Copy1-checkpoint.ipynb
best_model.h5
Matthew Features Exploration-Copy1.ipynb
Matthew Features Exploration.ipynb
Matthew Features Exploration.ipynb
~$HMAHCC_DataDictionary.xlsx
.ipynb_checkpoints/Final Draft-checkpoint.ipynb
tri_tfidf.csv
Final Model/.ipynb_checkpoints/Final Draft v2-checkpoint.ipynb
Final Model/.ipynb_checkpoints/Final Draft v3-checkpoint.ipynb
Final Model/.ipynb_checkpoints/Final Draft-checkpoint.ipynb
For_logistic.csv
.ipynb_checkpoints/Matt Though Process and Recommendation-checkpoint.ipynb
for_excel.xlsm
