
best_model.h5
best_model3.h5
Final Model/.ipynb_checkpoints/Final Draft v3-checkpoint.ipynb
Final Model/.ipynb_checkpoints/Final Draft v4-checkpoint.ipynb
for_excel.xlsm
Matt Though Process and Recommendation2.ipynb
Matthew Features and Models Oct 2-Copy1.ipynb
Matthew Features Exploration-Copy1.ipynb
visual.csv
visual.xlsm
