
best_model.h5
best_model3.h5
Final Model/.ipynb_checkpoints/Final Draft v3-checkpoint.ipynb
Final Model/.ipynb_checkpoints/Final Draft v4-checkpoint.ipynb
for_excel.xlsm
Matt Though Process and Recommendation2.ipynb
Matthew Features and Models Oct 2-Copy1.ipynb
Matthew Features Exploration-Copy1.ipynb
visual.csv
visual.xlsm
.ipynb_checkpoints/Methadone_quick_check-checkpoint.ipynb
Final Model/HMAHCC_COMP.csv
Final Model/HMAHCC_HOLDOUT.csv
Final Model/best_model2.h5
Final Model/best_model2.h5
Final Model/Final Draft v4 - ignore - test on matrix.ipynb
Final Model/__pycache__/humana_class.cpython-36.pyc
Final Model/.ipynb_checkpoints/Final Draft v4 - ignore - test on matrix-checkpoint.ipynb
Final Model/.ipynb_checkpoints/Web Output-checkpoint.ipynb
